<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../style/game.css">
    <script src="../js/script.js" defer></script>
    <title>Bomb Sapper</title>
</head>
<body>
<div class="container">
    <div class="dentanator-contanier">
        <div class="left-part">
            <div class="btn-on"></div>
        </div>
        <div class="detanator">
                <div class="screen"></div>
                <div class="ribbon"></div>
                <div class="footer">
                    <div class="buttons">
                        <button value="1" class="btn btn-secondary">1</button>
                        <button value="2" class="btn btn-secondary">2</button>
                        <button value="3" class="btn btn-secondary">3</button>
                    </div>
                    <div class="buttons">
                        <button value="4" class="btn btn-secondary">4</button>
                        <button value="5" class="btn btn-secondary">5</button>
                        <button value="6" class="btn btn-secondary">6</button>
                    </div>
                    <div class="buttons">
                        <button value="7" class="btn btn-secondary">7</button>
                        <button value="8" class="btn btn-secondary">8</button>
                        <button value="9" class="btn btn-secondary">9</button>
                    </div>
                    <div class="buttons" id="btn-null">
                        <button value="*" class="btn btn-secondary">*</button>
                        <button value="0" class="btn btn-secondary">0</button>
                        <button value="#" class="btn btn-secondary">#</button>
                    </div>
                </div>
                <div class="ribbon" id="ribbon-2"></div>
        </div>
    </div>
    
    <div class="timer"></div>
</div>
</body>
</html>